<div>
      <div>
        <img src="{{image_url}}" alt="beer" style="width: 50px;">
      </div>

      <div>
        <p style="font-size: 30px;"><b>{{name}}</b></p>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
        <p>Food Pairing</p>
        <ul class="mb-3">
          {{#each food_pairing as |food|}}
          <li>
            {{food}}
          </li>
          {{/each}}
        </ul>    
        <p><b>Brewer Tips:</b> {{brewers_tips}}</p>
      </div>
</div>